.form__change__password {
  background-color: #ffffff52;
  border-radius: 25px;
  height: 450px;
  margin-top: 240px;
}

.form__content__title__change {
  background-color: #1c557d;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  width: 300px;
  height: 200px;
  margin: -110px auto 30px auto;
  color: #fff;
}

.title__icons__change {
  font-size: 4.0rem;
}

.title__change {
  font-size: 2.5rem;
}

.content__form__change {
  border: 50px;
  width: 300px;
}

.btn__form__change {
  margin-top: 30px;
  background-color: #1c547d;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 0;
  padding: 15px 20px;
  border-radius: 15px;
}

.btn__form__change:hover {
  background-color: #002144;
  color:#fff;
}

/* tablet e desktop */
@media (min-width: 991px) {
  .form__change__password {
    width: 500px;
    margin: 0 auto;
    margin-top: 260px;
  }
  
  .content__form__change {
    width: 350px;
  }

}