.content__profile {
  margin-top: 150px;
}

.role__user {
  font-size: 0.8rem;
  color: #002144;
}

.content__image {
  background-color: #ffffff52;
  color: #000;
  font-weight: 700;
  width: auto;
  height: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 20px;
}

.img__profile {
  width: 200px;
  aspect-ratio: 1/1;
  display: block;
  /* padding: 20px; */
  margin: 0 auto;
}

.content__dati {
  background-color: #ffffff52;
  color: #000;
  font-weight: 400;
  width: auto;
  height: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 20px;
}

.title__image,
.title__dati {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  font-weight: 600;
  color: #000;
}

.input__profile {
  height: 50px;
  border-radius: 20px;
}

.btn__profile {
  width: -webkit-fill-available;
}

.modal__user {
  margin-top: 20px;
  padding: 40px;
}

.content__image__profile {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.btn__avatar {
  position: absolute;
  border: 0;
  bottom: 10px;
  right: 15px;
  background-color: #ffffff8a;
  padding: 3px;
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.btn__avatar:hover {
  background-color: #002144;
  color:#fff;
}

.btn__avatar i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imput__avatar {
  height: 30px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.btn__save {
  /* margin-top: 30px; */
  background-color: #1c547d;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 0;
  padding: 10px 35px;
  border-radius: 25px;
}

.btn__save:hover {
  background-color: #002144;
  color:#fff;
}

.btn__cancel {
  /* margin-top: 30px; */
  background-color: #fff;
  color: #000;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
  border: 0;
  padding: 10px 35px;
  border-radius: 25px;
}

.btn__cancel:hover {
  background-color: #002144;
  color:#fff;
}

/* Ingrandisce la casella del checkbox */
.form-check-input {
  width: 1.3rem; /* Imposta la larghezza desiderata */
  height: 1.3rem; /* Imposta l'altezza desiderata */
}

.link__register:hover, 
.link__login:hover {
  color: #002144;
}

.content__informazioni {
  background-color: #ffffff52;
  padding: 30px;
  border-radius: 15px;
  color: #000;
  font-weight: 500;
}

.title__profile__access {
  height: 300px;
  margin-top: 60px;
  background-color: #ffffff52;
  padding: 20px;
  border-radius: 15px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access__profile {
  text-decoration: none;
  color: #fff;
}

.access__profile:hover {
  color: #ccc;
  cursor: pointer;
}
