.form__forgot__email,
.form__reset__password {
  background-color: #ffffff52;
  border-radius: 25px;
  height: 400px;
  margin-top: 240px;
}

.form__content__title__forgot,
.form__content__title__reset {
  background-color: #1c557d;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  width: 300px;
  height: 200px;
  margin: -110px auto 30px auto;
  color: #fff;
}

.title__icons__forgot,
.title__icons__reset {
  font-size: 4.0rem;
}

.title__forgot,
.title__reset {
  font-size: 2.5rem;
}

.content__form__forgot,
.content__form__reset {
  border: 50px;
  width: 300px;
}

.btn__form__forgot,
.btn__form__reset {
  margin-top: 30px;
  background-color: #1c547d;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 0;
  padding: 15px 20px;
  border-radius: 15px;
}

.btn__form__forgot:hover,
.btn__form__reset:hover {
  background-color: #002144;
  color:#fff;
}

/* tablet e desktop */
@media (min-width: 991px) {
  .form__forgot__email,
  .form__reset__password {
    width: 450px;
    margin: 0 auto;
    margin-top: 260px;
  }
  
  .content__form__forgot,
  .content__form__password {
    width: 350px;
  }

}